$grayWhite: #E7E8EC;
$ltWhite: #F2F3F5;
$green: #8EC04F;
$drkGreen: #71993f;
$gray: #383F45;
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Teko|Ubuntu+Condensed');
/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Teko', sans-serif;
*/
.slider-container {
  background-color: $gray;
  width: 100%;
  height: 400px;
}

.slideshow {
  overflow: hidden;
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: '. slide slide .'
  'goback slide slide goforward'
  '. bottombuttons pauseplay image';
}

.slide-four,
.slide-one,
.slide-three,
.slide-two {
  width:100%;
  grid-area: slide;
}

.slide-text {
  padding: 0;
  margin: 0;
  color: $grayWhite;
  grid-area: text;
  margin-top:10px;
}

.pause-play-icons,
.step-icons {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  outline: 0!important;
  cursor:pointer;
}
.step-icons {
  font-size: 48px;
}

.pause-play-container {
  grid-area: pauseplay;
  align-self: center;
}
.step-icon-back {
  grid-area: goback;
  justify-self: center;
  align-self: flex-start;
}

.step-icon-forward {
  grid-area: goforward;
  justify-self: center;
align-self: flex-start;
}

.bottom-button-container {
  grid-area: bottombuttons;
  justify-self: flex-end;
  align-self: center;
}

.slider-button-control {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  padding: 3px;
  outline:0;
  cursor: pointer;
}
