$grayWhite: #E7E8EC;
$ltWhite: #F2F3F5;
$green: #8EC04F;
$drkGreen: #71993f;
$gray: #383F45;
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Teko|Ubuntu+Condensed');
/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Teko', sans-serif;
*/

.elequi-pineapple {
  transform: rotate(20deg);
  width: 350px;
  margin-top: -150px

}
.slide-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  ". . ."
  "onetext onetext onelogo"
  "onetext onetext onelogo";

}

.logo-container {
grid-area: onelogo
}

.slide-one-text {
  grid-area: onetext;
}


.main-slide {
  width: 60%;
}

.slide-text-main {
  font-size: 34px;
  padding:0;
  margin:0;
}
