$grayWhite: #E7E8EC;
$ltWhite: #F2F3F5;
$green: #8EC04F;
$drkGreen: #71993f;
$gray: #383F45;
@import url('https://fonts.googleapis.com/css?family=Abel');
/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Teko', sans-serif;
*/


.spec-module-title {
  text-align: center;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 32px;
  margin: 0;
  padding-top: 10px;
}

.title-underline {
  margin: 0 auto;
  width: 15%;
  height: 4px;
  border-radius: 100px;
  background-color: $green;

}
